@import "tailwindcss";

@layer base {
  :root {
    --background: linear-gradient(to bottom, #0a0f1f, #0c162b, #111827);
    --surface:  #1b263b;
    --surface-light: color-mix(in srgb, var(--surface), white 12%);
    --text-strong: #f1f5f9;
    --text: #bfc2c5;
    --accent:  #22d3ee;
  }

  html, body {
    min-height: 100%;
  }

  body {
    background: var(--background);
    color: var(--text);
    font-family: var(--font-jetbrains-mono), monospace;
    -webkit-font-smoothing: antialiased;
  }

  html {
    background: var(--background);
    scroll-behavior: smooth;
  }

  p {
    color: var(--text);
  }

  h1, h2 {
    color: var(--text-strong);
  }
  
  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
  }

  /* Remove spinner arrows in Chrome, Safari, Edge */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
